[submodule "Module00"]
	path = Module00
	url = https://github.com/spacotto/Python_Module00.git
[submodule "Module01"]
	path = Module01
	url = https://github.com/spacotto/Python_Module01.git
[submodule "Module02"]
	path = Module02
	url = https://github.com/spacotto/PythonModule02.git
[submodule "Module03"]
	path = Module03
	url = https://github.com/spacotto/PythonModule03.git
[submodule "Module04"]
	path = Module04
	url = git@github.com:spacotto/PythonModule04.git
[submodule "Module05"]
	path = Module05
	url = git@github.com:spacotto/PythonModule05.git
[submodule "Module06"]
	path = Module06
	url = git@github.com:spacotto/PythonModule06.git
[submodule "Module07"]
	path = Module07
	url = git@github.com:spacotto/PythonModule07777777.git
